@charset "UTF-8";

* {
	text-align: center;
	font-size: 25px;
}

table{
	width: 700px;
	margin: 0 auto;
}

td:first-child {
	background-color: yellow;
}

tr:last-child {
	background-color: green;
}

tr:last-child>td:first-child {
	background-color: white;
}

table, th, td {
	border: 1px solid gray;
}

#book1:focus, #book2:focus, #book3:focus {
	outline: none;
	border: 2px solid red;
}

td:nth-child(4) input:focus, #totalNumber:focus {
	outline: none;
}