@charset "EUC-KR";
.red1{
	color: red;
	font-style: italic;
}

strong.red1 {
	font-size: 20px;
}

p {
	font-family: "나눔고딕", "돋움"; 
	font-size: 10px;
	/*	폰트의 경우 나눔 고딕이 없으면 돋움 글꼴을 찾으라는 의미 :
		속성값이 여러개로 컴마로 구분하여 나열되는 경우 순서대로 가능한 속성값을 
		찾아서 적용합니다. */
}

#next { 
	color: blue; 
	text-align: center;
}